<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>ブログ一覧</h1>
      <%= link_to "ゲビッタを作成する", new_gewitter_path, class: 'btn btn-default' %>
    <% @gewitters.each do |gewitter| %>
    <div class="row">
      <p><%= gewitter.content %></p>
      <%= link_to "編集", edit_gewitter_path(gewitter.id), class: 'btn btn-warning btn-sm btn-success' %>
      <%= link_to "削除", gewitter_path(gewitter.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>