<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <ul>
      <li><%=link_to "ホーム", root_path %></li>
      <li><%=link_to "新規入力", new_gewitter_path %></li>
      <li><%=link_to "一覧", gewitters_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>大課題１</p>
    <p>April 2017作品</p>
  </footer>

</body>
</html>